
/* common */
*{
	margin: 0; padding: 0;
}
body,html{
	font-family: "微软雅黑"; font-size: 14px; overflow: hidden;
}
li{
	list-style: none;
}
a{
	text-decoration: none; color: #000;
}
.btnIco{
	background: url(../images/btn.png);
}
b{
	font-weight: normal;
}
i{
	font-style: normal;
}

/* container1 */
.container1{
	width: 100%; height: 100%; background-color: #f6f6f6; position: absolute; min-width: 1000px; min-height: 400px; -display: none;
}
.main1{
	position: absolute; width: calc(100% - 710px); height: calc(100% - 5px); left: 0; top: 5px; background-color: #a3c3cb;
}
.sider1{
	position: absolute; width: 700px; margin-left: 10px; height: calc(100% - 5px); overflow-x: hidden; overflow-y: auto; top: 5px; right: 0px; background-color: #a3c3cb;
}
.showImg1{
	width: 100%; position: relative;
}
.showImg1 a{
	position: absolute; width: 70px; height: 100%; top: 0; background-color: #a3c3cb; transition: all 0.5s;
}
.showImg1 a:hover{
	background-color: #e6e6e6;
}
.showImg1 a:before{
	content: ''; display: block; position: absolute; width: 40px; height: 72px; background: url(../images/btn.png); left: calc(50% - 20px); top: calc(50% - 31px);
}
.showImg1 .showImg1_btnLeft{
	left: 0;
}
.showImg1 .showImg1_btnRight{
	right: 0;
}
.showImg1 .showImg1_btnLeft:before{
	background-position: 0 -87px;
}
.showImg1 .showImg1_btnLeft:hover:before{
	background-position: -46px -87px;
}
.showImg1 .showImg1_btnRight:before{
	background-position: 0 0;
}
.showImg1 .showImg1_btnRight:hover:before{
	background-position: -46px 0;
}
.showImg1 .imgBox1{
	position: absolute; width: calc(100% - 144px); height: calc(100% - 4px); left: 72px; top: 2px; overflow: hidden;
}
.showImg1 .imgBox1 .img1{
	position: absolute; display: block;cursor: pointer;
}
.chooseImg1_box{
	position: relative; overflow: hidden;
}
.navList1{
	height: 38px; line-height: 38px; border-top: 1px solid #e3e3e3; border-bottom: 1px solid #e3e3e3; text-align: center; font-size: 14px;
}
.navList1 span{
	margin-left: -3px;
}
.navList1 span, .navList1 a{
	display: inline-block; color: #666; padding: 0 10px; cursor: pointer; position: relative;
}
.navList1 span:before{
	content: '|'; display: block; position: absolute; left: -3px; color: #e3e3e3;
}
.navList1 span:hover:before{
	display: none;
}
.navList1 span:last-child:after{
	content: '|'; display: block; position: absolute; right: 1px; color: #e3e3e3;top:0;
}
.navList1 span:hover, .navList1 a:hover{
	background-color: #e3e3e3;
}
.navList1 .btnImgScale, .navList1 .btnImgScale:hover{
	cursor: default; background-color: #fff; padding: 0;
}
.navList1 a{
	padding: 0; width: 30px;
}

.boxLimit1{
	position: relative; width: 100%; height: 100px
}
.boxLimit1 a{
	float: left; display: block; width: 25px; height: 70px; margin: 15px 2px 0; position: relative;
}
.boxLimit1 a:hover{
	background-color: #e6e6e6;
}
.boxLimit1 a.disable{
	background-color: #fff;
}
.boxLimit1 a:before{
	content: ''; display: block; position: absolute; width: 14px; height: 27px; left: calc(50% - 7px); top: calc(50% - 13px); background: url(../images/btn.png);
}
.boxLimit1 .chooseImg1_btnLeft:before, .boxLimit1 .chooseImg1_btnLeft.disable:hover:before{
	background-position: -27px -174px;
}
.boxLimit1 .chooseImg1_btnLeft.disable:hover:before{
	cursor: default;
}
.boxLimit1 .chooseImg1_btnLeft:hover:before{
	background-position: -73px -174px;
}
.boxLimit1 .chooseImg1_btnRight:before, .boxLimit1 .chooseImg1_btnRight.disable:hover:before{
	background-position: 0 -174px;
}
.boxLimit1 .chooseImg1_btnRight.disable:hover:before{
	cursor: default;
}
.boxLimit1 .chooseImg1_btnRight:hover:before{
	background-position: -46px -174px;
}
.imgListBox1{
	position: relative; width: calc(100% - 58px); height: 90px; padding: 4px 0 6px; float: left; overflow: hidden;
}
.imgListBox1 .imgList1{
	padding-top: 5px; position: absolute; left: 0; top: 0; transition: left 0.5s; float: left;
}
.imgListBox1 .imgList1 li{
	float: left; width: 68px; height: 68px; border: 1px solid #dfdfdf; margin-top: 10px; margin-right: 10px; background-image: url(../images/a2.jpg); background-repeat: no-repeat; background-position: center; background-size: contain; cursor: pointer;
}
.imgListBox1 .imgList1 li.active{
	width: 76px; height: 76px; border: 2px solid #3388fb; margin-top: 5px; background-image: url(../images/a1.jpg);
}









